<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062257371595-s22ne0rq5t07g0opeem7hl90nvselbv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062257371595-s22ne0rq5t07g0opeem7hl90nvselbv2</string>
	<key>API_KEY</key>
	<string>AIzaSyAO94-zGjMaJz-hJv6nQUAGh7Vo5GubR3w</string>
	<key>GCM_SENDER_ID</key>
	<string>1062257371595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>works.live812.app</string>
	<key>PROJECT_ID</key>
	<string>live812-477af</string>
	<key>STORAGE_BUCKET</key>
	<string>live812-477af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062257371595:ios:1822975314973078a22e4e</string>
	<key>DATABASE_URL</key>
	<string>https://live812-477af.firebaseio.com</string>
</dict>
</plist>